:host {
    padding: 0 1em;
    /*margin-bottom: 1em;*/
    box-shadow: 0 2px 8px;
    color: #444;
    position: relative;
}

h4 {
    color: #888;
}

label {
    color: #888;
    box-shadow: 1px 1px 3px;
    padding: .5em;
    position: absolute;
    text-align: center;
    right: 1em;
    bottom: 1em;
    cursor: pointer;
}

label img {
    width: 1.4em;
    height: 1.4em;
    vertical-align: sub;
}

label:hover {
    background: #eee;
}

label:active {
    box-shadow: 0 0 0;
}

label input {
    display: none;
}